/*-----------------------Global styles----------------------------*/
:root {
    --main-color: lightblue;
    --link-color: rgb(233, 179, 179);
    --dark-color: rgb(84, 84, 84);
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}


p,
a,
button {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*------------Denne er for at laptop menu styles ikke vise på mobil størrelsen-------------------*/
#menu {
    display: none;
}

/*---------------------mobilmenu--------------------------*/
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;

}

.nav a {
    margin-left: 20px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-out;

}

.nav a:hover {
    color: var(--link-color);
}

.nav .close {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 30px;
    font-size: 30px;
    padding: 10px;
}

#contentmobile {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.slide i {
    transition: color 0.5s ease-out;
}

.slide i:hover {
    color: var(--link-color);
}


/*-------------------------hero image styles-----------------------*/
#bella {
    width: 100%;
}

a {
    color: black;
}

.isabella {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.isabella h1 {
    color: white;
}

/*-------------------hero image buttons styles----------------------*/


/*---------------------Omkring mig styles--------------------------*/
#aboutBella {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.picture {
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: lightcoral;
}

.aboutMe {
    width: 100%;
    margin-top: 40px;

}

.aboutMe h2 {
    text-align: center;
}

.aboutMe p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.boxStyle2 {
    border-style: solid;
    border-color: var(--link-color);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    color: black;
    transition: background-color 0.5s ease-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutMe a:hover {
    text-decoration: none;
    background-color: var(--link-color);
    color: white;
}


/*---------------------about page styles------------------------------*/
.aboutIsabella {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}

.bella {
    width: 90%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutContainer h2 {
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.cv h2 {
    text-align: center;
}




/*---------------------contact page styles------------------------------*/

.kontakth3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#kontaktForm {
    width: 80%;
    height: 600px;
    background-color: var(--dark-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}


input[type=submit] {
    border-style: solid;
    border-color: var(--link-color);
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: var(--dark-color);
    transition: background-color 0.5s ease-out;
    cursor: pointer;
}

input[type=submit]:hover {
    text-decoration: none;
    background-color: var(--link-color);
    color: black;
}

/*---------------------arbejde styles------------------------------*/

.portfolioSide {
    text-align: center;
}

.portfolioSide h2 {
    margin: 10px;
}

.portfolioSide img {
    width: 400px;
    margin: 10px;
}


/*---------------------Footer styles------------------------------*/

#footerBella {
    background-color: rgb(84, 84, 84);
    color: whitesmoke;
    width: 100%;
    height: 200px;
    text-align: center;
}

#footerBella h3 {
    text-align: center;
    padding-top: 15px;
}

.boxStyle {
    border-style: solid;
    border-color: var(--link-color);
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    color: white;
    transition: background-color 0.5s ease-out;
}

#footerBella a:hover {
    text-decoration: none;
    background-color: var(--link-color);
    color: black;
}

.boxStyle {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.footName {
    margin-top: 40px;
    color: darkgrey;
    font-size: 8px;
}

/*---------------------tablet styles--------------------------*/
@media (min-width: 725px) {

    /*---------------------hero image tablet styles--------------------------*/

    /*---------------------about me styles--------------------------*/
    .aboutMe {
        width: 60%;
    }

}


/*---------------------laptop styles--------------------------*/
@media (min-width:950px) {

    /*-------------denne er for at burgermenuen ikke vises på laptop størrelse----------------*/
    #contentmobile {
        display: none;
    }


    /*---------------Laptop menu styles--------------------*/
    #menu {
        display: block;
        position: absolute;
        padding-top: 3%;
        width: 100%;
    }

    #menu a {
        margin: 5%;
        text-decoration-line: none;
    }

    a:hover {
        color: lightcoral;

    }

    /*---------------------hero image laptop styles--------------------------*/

    .aboutBella {
        display: flex;
    }

    .aboutMe {
        width: 50%;
        order: 2;
    }

}
