/*-----------------------Global styles----------------------------*/
:root {
    --main-color: lightblue;
    --link-color: lightcoral;
    --dark-color: rgb(84, 84, 84);
}

body {
    overflow-x: hidden;
}


/*------------Denne er for at laptop menu styles ikke vise på mobil størrelsen-------------------*/
#menu {
    display: none;
}

/*---------------------mobilmenu--------------------------*/
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
}

.nav a {
    margin-left: 20px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

.nav a:hover {
    color: var(--link-color);
    transition: 0.4s;
}

.nav .close {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 30px;
    font-size: 30px;
    padding: 10px;
}

#contentmobile {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.slide i:hover {
    color: var(--link-color);
    transition: 0.4s;
}


/*-------------------------hero image styles-----------------------*/
#bella {
    width: 100%;
}

a {
    color: black;
}

.isabella {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*-------------------hero image buttons styles----------------------*/


#buttonStyles {
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttonStyles {

}

#mitArbejdeButton {
    padding: 10px 20px;
    background-color: #cc9797;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    /*margin-right: 10px;*/
    cursor: pointer;
}

#omMigButton {
    padding: 10px 20px;
    border: none;
    background-color: #e7c7c7;
    text-decoration: none;
    border-radius: 10px;
    /**margin-left: 10px;*/
    cursor: pointer;
}




/*---------------------Omkring mig styles--------------------------*/
#aboutBella {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: darkgray;
    margin-top: 40px;
    margin-bottom: 40px;
}
.picture {
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: lightcoral;
}

.aboutMe {
    width: 100%;
    background-color: skyblue;
    margin-top: 40px;

}

.aboutMe h2 {
    text-align: center;
}

.aboutMe p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------Footer styles------------------------------*/

footer {
    background-color: var(--dark-color);
    color: whitesmoke;
    width: 100%;
    height: 200px;
}




/*---------------------tablet styles--------------------------*/
@media (min-width: 725px) {

    /*---------------------hero image tablet styles--------------------------*/
    
    /*---------------------about me styles--------------------------*/
    .aboutMe {
        width: 60%;
    }

}


/*---------------------laptop styles--------------------------*/
@media (min-width:950px) {

    /*-------------denne er for at burgermenuen ikke vises på laptop størrelse----------------*/
    #contentmobile {
        display: none;
    }


    /*---------------Laptop menu styles--------------------*/
    #menu {
        display: block;
        position: absolute;
        padding-top: 3%;
        width: 100%;
    }

    #menu a {
        margin: 5%;
        text-decoration-line: none;
    }

    a:hover {
        color: lightcoral;

    }

    /*---------------------hero image laptop styles--------------------------*/
    
    .aboutBella {
        display: flex;
    }
    .aboutMe {
        width: 50%;
        order: 2;
    }

}
